<h3>Front</h3>
<ul>
  <li>
    <img [src]="'http://media.mw.metropolia.fi/wbma/uploads/'+image.filename" style="width:150px">
  </li>
  <audio controls>
  <source [src]="'http://media.mw.metropolia.fi/wbma/uploads/'+image.filename" type="audio/ogg">
  <source [src]="'http://media.mw.metropolia.fi/wbma/uploads/'+image.filename" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>

<video width="320" height="240" controls>
  <source [src]="'http://media.mw.metropolia.fi/wbma/uploads/'+image.filename" type="video/mp4" poster="this.url">
  <source [src]="'http://media.mw.metropolia.fi/wbma/uploads/'+image.filename" type="video/ogg" poster="this.url">
  Your browser does not support the video tag.
</video>
</ul>
